* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column
}

.App > header {
  background-color: #EEE;
  max-width: 100%;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App > main {
    min-height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.App > main section {
  padding: 10px;
  border: 1px solid #EEE;
  min-height: 100%;
}

.App > main section:nth-child(1) {
  flex: 0 1 25%;
}

.App > main section:nth-child(2) {
  flex: 0 1 75%;
}

.App > footer {
  min-height: 10vh;
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
